rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Allow read for everyone
    match /{document=**} {
      allow read: if true;
    }

    // Allow write only for authenticated users
    match /blogs/{blogId} {
      allow create, update, delete: if request.auth != null;
    }
  }
}
